<div class="container fixed-top colorBody1">
    <nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
        <a *ngIf="!modalService.online && modalService.ojo2" class="navbar-brand ml-3">
            <img *ngIf="ojo" (click)="onClick()" src="../../../assets/img/ojo.png" width="40" height="40"
                loading="lazy">
            <img *ngIf="!ojo" (click)="onClick()" src="../../../assets/img/ojo.png" width="40" height="40"
                loading="lazy">
        </a>
        <a *ngIf="modalService.online || !modalService.ojo2" class="navbar-brand ml-3">
            <img src="../../../assets/img/ojo.png" width="40" height="40"
                loading="lazy">
        </a>
        <a class="navbar-brand colorName4 ml-3">
            <strong class="text-uppercase cristobal6"> CristobalDJ</strong>
        </a>
        <button class="navbar-toggler colorBody1 mr-3" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container text-justify ml-5 mr-5">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-1 ml-1" routerLinkActive="active">
                        <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/inicio']">Inicio</a>
                    </li>
                    <li class="nav-item mr-1 ml-1" routerLinkActive="active">
                        <a (click)="cerrarNavbar()" class="nav-link colorName3"
                            [routerLink]="['/noticias']">Noticias</a>
                    </li>
                    <li class="nav-item mr-1 ml-1" routerLinkActive="active">
                        <a (click)="cerrarNavbar()" class="nav-link colorName3"
                            [routerLink]="['/noticiaCompleta']">Noticia Completa</a>
                    </li>
                    <li class="nav-item mr-1 ml-1" routerLinkActive="active">
                        <a (click)="cerrarNavbar()" class="nav-link colorName3"
                            [routerLink]="['/mensajes']">Mensajes</a>
                    </li>
                    <li class="nav-item mr-1 ml-1" routerLinkActive="active">
                        <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/ajustes']">Ajustes</a>
                    </li>
                </ul>
                <div class="text-center mr-5 ml-5">
                    <button *ngIf="login1" (click)="entrar()" class="btn colorNegro16">
                        <i class="fas fa-sign-in-alt fa-lg" data-toggle="tooltip" data-placement="left"
                            title="Admin login"></i>
                    </button>

                    <div (keyup.enter)="inputLogin()" *ngIf="input1" class="input-group-sm">
                        <input type="password" id="focusClave" [(ngModel)]="clave" name="clave"
                            placeholder="Press enter" class="form-control backInput15"
                            aria-describedby="inputGroup-sizzing-sm">
                    </div>
                    <button (click)="logOut()" *ngIf="modalService.online" class="btn colorNegro16 cursor7 mr-4">
                        <i class="fas fa-sign-out-alt fa-lg colorName3"></i>
                    </button>
                    <button  (click)="cerrarNavbar()" *ngIf="modalService.online" class="btn colorNegro16 mr-4">
                        <i class="fas fa-wifi fa-lg colorName3"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p class="m-2">
                            <button (click)="alerta()" class="btn btn-outline-warning my-2" type="button">
                                <span class="badge badge-warning text-uppercase">Contacto</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<app-modals></app-modals>