:root {
  --main-color: rgb(36, 41, 46);
  --main-color-low: rgba(36, 41, 46, 0.5);
  --main-color-extra-low: rgba(36, 41, 46, 0.2);

  --main-bg-color: rgb(255, 255, 255);
  --main-bg-color-low: rgba(255, 255, 255, 0.5);
  --main-bg-color-extra-low: rgba(255, 255, 255, 0.2);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--main-bg-color);
  min-height: 500px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main--color);
}

html {
  font-size: 13px;
}
.container {
  max-width: 100vw;
}

.fa-whatsapp {
  color: #25d366;
}
.fa-facebook {
  color: #3b5998;
}
.fa-envelope {
  color: orangered !important;
}
.fa-linkedin-in {
  color: #0e76a8;
}
.fa-instagram {
  color: #c13584 !important;
}
.fa-twitter {
  color: #00acee;
}
.fa-at,
.fa-comment {
  color: var(--main-color-low) !important;
}

.badge-warning,
.btn-warning {
  background-color: var(--main-color) !important;
  color: var(--main-bg-color);
}

.btn-outline-warning {
  border-color: var(--main-color) !important;
  color: var(--main-color);
}
.btn-warning:hover,
.btn-outline-warning:hover {
  background-color: var(--main-color-low) !important;
}
.tooltip-inner {
  background-color: var(--main-color) !important;
  color: var(--main-bg-color) !important;
}
.form-control:focus {
  background-color: var(--main-bg-color);
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem var(--main-color-low) !important;
}
.active {
  background-color: var(--main-color-low);
  font-weight: bolder;
  color: var(--main-color-extra-low);
}
.mt-n1 {
  margin-top: -1.2rem !important;
}

.colorBody1 {
  background-color: var(--main-color) !important;
  border: 2px solid black !important;
}

.colorNavbar2 {
  margin: 5px;
  padding: 0px;
}

.colorName3 {
  color: var(--main-bg-color) !important;
}
.colorName3:hover {
  color: var(--main-bg-color-low) !important;
}
.colorName4 {
  color: var(--main-bg-color) !important;
  text-shadow: 2px 2px 4px rgb(83, 83, 8);
}

.margin5 {
  margin-left: 80px;
  margin-right: 80px;
}

.federica6 {
  font-size: 20px !important;
}

.cursor7 {
  cursor: pointer;
}

.cookies8 {
  color: var(--main--color) !important;
  height: 22px !important;
  border: var(--main-color);
}
.cookies8:hover {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color) !important;
  border: none !important;
}

.back9 {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color) !important;
}

.colorTexto10 {
  color: var(--main-color);
}

.colorModal11 {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-color-low);
  border-radius: 2px;
  padding: 20px !important;
}

.backModal12 {
  background-color: var(--main-bg-color);
  color: var(--main-color) !important;
  border: 10px inset var(--main-color);
}

.backContacto13 {
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-color-low);
}

.backInput14 {
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  text-align: left;
}
.backInput15 {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  text-align: center;
}

.colorNegro16 {
  /* En producción transparente */
  color: var(--main-color);
}

.backInput17 {
  text-align: center;
}

.backPortada18 {
  color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.backSobreMi19 {
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-color-extra-low);
  border-radius: 1.2rem;
  padding: 1rem;
}

.padin20 {
  padding: 5px;
  border: 2px solid var(--main-color-extra-low);
  max-width: 300px;
  max-height: 300px;
}

.backYo21 {
  border: 5px solid var(--main-bg-color);
}

.backTitulo22 {
  color: var(--main-color);
  font-size: 20px;
}

.backTec23 {
  background-color: var(--main-color-extra-low);
  border: 2px groove var(--main-color);
}

.tamanoTec24 {
  width: 30px;
  height: 30px;
}

.tamanoTec24:hover {
  border: 3px solid transparent;
}

.colorTec25 {
  background-color: transparent !important;
  color: var(--main-color);
}

.tamanoSalir26 {
  width: 25% !important;
  color: var(--main-color) !important;
}

.colorFooter27 {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.boldTexto28 {
  font-weight: 800;
}

.tab29 {
  text-indent: 1.5em;
}

.backUltimas30 {
  background-color: var(--main-color-extra-low) !important;
  color: var(--main-color);
  border: 1px inset var(--main-color);
  border-radius: 10px;
}

.tamanoYo31 {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .tamanoYo31 {
    width: 30px;
    height: 30px;
  }
  .colorNoti33,
  .font-weight-normal {
    font-size: 12px !important;
  }
}

.backImgNoti32 {
  border: 1px solid var(--main-color-extra-low);
}

.colorNoti33 {
  color: var(--main-color-low) !important;
  font-size: 12.5px;
}

.backNoti34 {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-color-extra-low);
  border-radius: 10px;
  padding: 10px;
}

.backNoti34:hover {
  background-color: var(--main-bg-color-low);
  border: 2px solid var(--main-color);
}

.backTituloNoti35 {
  background-color: var(--main-bg-color-extra-low);
  color: var(--main-color);
  font-weight: bold;
}

.backPaginaNoticias36 {
  background-color: var(--main-color-extra-low) !important;
  color: var(--main-color);
  border: 3px inset var(--main-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.backNoticias37 {
  background-color: var(--main-bg-color);
  border: 1px double var(--main-color-extra-low);
  border-radius: 2px;
  padding: 10px !important;
}

.backNoticias37:hover {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color);
}

.backNoticias38 {
  background-color: var(--main-color-extra-low) !important;
  color: var(--main-color);
  border: 2px inset var(--main-color);
  font-size: 12.5px;
}

.backPlus39 {
  color: black !important;
}

.backPlus40 {
  background-color: var(--main-color-extra-low);
  border: 2px solid var(--main-color);
}

.sub41 {
  font-size: 12.3px;
}

.colorTexto42 {
  color: var(--main-color);
}

.colorIcon43 {
  color: var(--main-bg-color) !important;
}

.backNoticiaCompleta44 {
  background-color: var(--main-color-extra-low);
  border: 1px solid var(--main-color-extra-low);
  border-radius: 10px;
  padding: 20px !important;
}

.backNoticiaCompleta45 {
  background-color: var(--main-color-extra-low) !important;
  color: var(--main-color);
  border: 1px inset var(--main-color);
}

.backPaginaNoticiaCompleta46 {
  background-color: var(--main-color-extra-low) !important;
  color: var(--main-color);
  border: 1px inset var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.backMensajes47 {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-color-low);
  border-radius: 10px;
  padding: 15px;
}

.spacer48{
  flex: 1 1 auto;
}

.marginContainer49{
  margin-top: 80px;
}

.test{
  background-color: var(--main-bg-color);
  color: black;

}

.test1{
  background-color: white;
  cursor: pointer;
}
